@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@theme {
  --color-primary-200: #af9169;
  --color-primary-300: #c1a073;
  --color-primary-400: #c9ad83;
  --color-primary-500: #d4c5b0;
  --color-primary-600: #8e7351;
  --color-primary-700: #6e563e;
  --color-primary-800: #4e3a2c;
  --color-primary-900: #2e1d19;
  --color-primary: #b89e6e;
  --color-secondary: #1c1c1e;
  --color-success: #22c55e;
}

.text-accent-gradient {
  @apply bg-linear-to-r from-orange-600 to-primary-300 bg-clip-text text-transparent;
}
.text-primary-gradient {
  @apply bg-linear-to-r from-primary-500 via-primary-300 to-primary-500 bg-clip-text text-transparent;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
html {
  /* smooth scrolling for # navigation */
  scroll-behavior: smooth;
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.main-back {
  position: relative;
}
.main-back:after {
  content: "";
  pointer-events: none;
  z-index: 22;
  background: url(/back/main_back.png) top/100%;
  position: absolute;
  inset: 0;
}
